body {
    background-image: url(https://img.freepik.com/foto-gratis/fondo-acuarela-pintada-mano-forma-cielo-nubes_24972-1108.jpg?w=740);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.container {
   height: 200px;
   width: 550px;
   color: black;
   font-size: 20px; 
   text-align: center;
   position: fixed;
   top: 260px;
   left: 120px;
}

.container-img {
display: flex;
height: 100px;
width: 100px;
position: fixed;
top: 130px;
left: 300px;
}

.containers {
display: flex;
height: 250px;
width: 250px;
position: fixed;
top: 165px;
left: 700px;
}

#banner {
    background: rgb(144, 171, 228);
    height: 10%;
    width: 100%;
    position: fixed;
    top: 30px ;
    left: 0px ;
  
  }
  
  #btn-1 {
    display: inline-block;
    height: 30px;
    width: 90px;
    position: fixed;
    top: 55px;
    left: 320px;
    background: rgb(111, 152, 241);
    border-color:rgb(111, 152, 241) ;
    border-radius: 5px;
    font-size: 25px;
}






#btn-2 {
    display: flex;
    height: 35px;
    width: 200px;
    position: fixed;
    top: 50px;
    left: 510px;
    background: rgb(111, 152, 241);
    border-color:rgb(111, 152, 241) ;
    border-radius: 5px;
    font-size: 25px;
}

#btn-3 {
    display: flex;
    height: 35px;
    width: 190px;
    position: fixed;
    top: 50px;
    left: 800px;
    background: rgb(111, 152, 241);
    border-color:rgb(111, 152, 241) ;
    border-radius: 5px;
    font-size: 25px;
}

main{
    position: relative;
}

section#home {
    position: absolute;
    z-index:1;
}

section#filmography {
    position: absolute;
    z-index:auto;
    visibility: hidden;
}

section#characters {
    position: absolute;
    z-index:auto;
    visibility: hidden;
}
